$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// endbower

$gray-base: #000;
$gray-base-light: #171B20;
$gray-darker: #272B30;
$gray-dark: #3A3F44;
$gray: #52575C;
$gray-light: #7A8288;
$gray-lighter: #999;

$gray-dark-border: 1px solid $gray-base;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body, html {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}
body{
    padding-top: 50px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.navbar-brand {
    padding: 5px 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}
.height-match-parent{
    height: 100%;
    display: block;
}
#map{
    height: 100%;
}
#container-main{
    height: 100%;
    display: block;
    width: 100%;
}

/*  Paper size */
.a0{
    width: 841mm;
    height: 1189mm
}
.a0-landscape{
    width: 1189mm;
    height: 841mm;
}
.a1{
  width: 594mm;
  height: 841mm
}
.a1-landscape{
  height: 594mm;
  width: 841mm
}
.a2{
  width: 420mm;
  height: 594mm
}
.a2-landscape{
  height: 420mm;
  width: 594mm
}
.a3{
  width: 297mm;
  height: 420mm
}
.a3-landscape{
  height: 297mm;
  width: 420mm
}
.a4{
  width: 210mm;
  height: 297mm
}
.a4-landscape{
  height: 210mm;
  width: 297mm
}
.a5{
    width: 148mm;
    height: 210mm
}
.a5-landscape{
    height: 148mm;
    width: 210mm
}
#map-container-wrapper{
    overflow: auto;
    pading: 0;
    padding-left: 0;
    padding-right: 0;
}
#map-container{
    display: block;
    margin: auto;
    overflow: auto;
}

#toolbox{
    right: 5px;
    overflow-y: auto;
    z-index: 1000;
    max-height: 100%;
}

#print-preview img{
    max-width: 100%;
    height: auto;
}
#print-preview .modal-body{
    background: #222222;
}

.jdfs-main{
    width: 100%;
    height: 30px;
}
.jdfs-search-indicator {
    display: none
}
.jdfs-main label{
    font-weight: normal;
}
.jdfs-toggle-search{
    width: 70%;
    color: #222222;
    border: none;
    text-align:left
}
.jdfs-search{
    width: 70%;
    border: none
}
.jdfs-search:focus{
    border: none;
    outline: none;
}
.jdfs-highlight, .jdfs-highlight:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #EEE;
}
button.jdfs-toggle{
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    display: none
}
.jdfs-window{
    width: 100%;
    z-index: 6;
    height: 200px;
    overflow-y: auto;
    background-color: #1c1e22;
    border: 1px solid #0c0d0e;
}
.jdfs-window button{
    color: #444;
}
.jdfs-fontlist{
    height: none;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control{
    background-color: #DDD
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .modal-lg {
    width: 95%;
  }
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-corner {
    background-color: $gray-base;
}
::-webkit-scrollbar-track {
    background-color: $gray-base-light;
    border: $gray-dark-border;
}
::-webkit-scrollbar-thumb {
    background-color: $gray-darker;
    border: $gray-dark-border;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $gray-darker;
}

.canvas-container{
    margin: auto;
    overflow: auto;
    max-width: 100%;
}

@media print {
    .leaflet-control-container,
    .leaflet-top,
    .leaflet-left{
        display: none;
    }
}
