<form class="form-horizontal">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control input-sm" type="number" step="1" ng-model="_model.radius" min="0">
            <div class="input-group-addon">radius</div>
        </div>
        <div class="input-group">
            <input class="form-control input-sm" type="number" step="0.01" ng-model="_model.scaleX" min="0">
            <div class="input-group-addon">X scale</div>
        </div>
        <div class="input-group">
            <input class="form-control input-sm" type="number" step="0.01" ng-model="_model.scaleY" min="0">
            <div class="input-group-addon">Y scale</div>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">fill color</div>
            <input class="form-control input-sm btn btn-sm" type="text"
                colorpicker="rgba" colorpicker-position="top"
                ng-model="_model.fill"
                style="background-color: {{ _model.fill }}">
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">border color</div>
            <input class="form-control input-sm btn btn-sm" type="text"
                colorpicker="rgba" colorpicker-position="top"
                ng-model="_model.stroke"
                style="background-color: {{ _model.stroke }}">
        </div>
        <div class="input-group">
            <div class="input-group-addon">border width</div>
            <input class="form-control input-sm" type="number" step="1" ng-model="_model.strokeWidth" min="0">
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">opacity</div>
            <input class="form-control input-sm" type="number" step="0.1" ng-model="_model.opacity" min="0" max="1">
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar"
            aria-valuenow="{{ _model.opacity }}" aria-valuemin="0" aria-valuemax="100"
            style="width: {{ _model.opacity * 100 }}%; opacity: {{ _model.opacity }}; background-color: {{ _model.fill }}">
          </div>
        </div>
    </div>
</form>
