
<div class="row height-match-parent">
    <div class="col-sm-9 height-match-parent" id="map-container-wrapper">
        <div id="map-container" ng-class="paper">
            <leaflet
                id="map"
                center="map.center"
                url-hash-center="yes"
                tiles="map.tiles.default"
                controls="map.controls"
                defaults="map.defaults">
            </leaflet>
        </div>
    </div>

    <div class="height-match-parent hidden-print" id="toolbox">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title text-info">
                    Options
                    <button ng-click="initializeCanvas()" class="btn btn-sm btn-info pull-right" data-toggle="modal" data-target="#print-preview">Next <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div id="advanced-options">
                        <div class="well">
                            <div class="form-group">
                                <label class="control-label small">Size</label>
                                <select class="form-control input-sm" ng-options="paper.class as paper.name for paper in papers" ng-model="paper"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label small">Base Map URL</label>
                                <input class="form-control input-sm" type="text"
                                    ng-model="map.tiles.default.url"
                                    ng-model-options="{ updateOn: 'blur' }"
                                    ng-keyup="cancel($event)">
                            </div>
                            <div class="form-group">
                                <label class="control-label small">CartoDB Vis' URL</label>
                                <input class="form-control input-sm" type="text"
                                    ng-model="map.cartodb.vis"
                                    ng-model-options="{ updateOn: 'blur' }"
                                    ng-keyup="cancel($event)">
                            </div>
                            <div class="form-group">
                                <label class="control-label small">Center</label>
                                <div class="input-group">
                                    <input class="form-control input-sm" type="number" step="any" ng-model="map.center.lng">
                                    <div class="input-group-addon">longitude</div>
                                </div>
                                <div class="input-group">
                                    <input class="form-control input-sm" type="number" step="any" ng-model="map.center.lat">
                                    <div class="input-group-addon">latitude</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label small">Zoom</label>
                                <input class="form-control input-sm" type="number" ng-model="map.center.zoom">
                            </div>

                            <div class="form-group">
                                <label class="control-label small">Attribution</label>
                                <input class="form-control input-sm" type="text"
                                    ng-model="map.tiles.default.options.attribution"
                                    ng-model-options="{ updateOn: 'blur' }"
                                    ng-keyup="cancel($event)">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button ng-click="initializeCanvas()" class="btn btn-md btn-info" data-toggle="modal" data-target="#print-preview">Next <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Print modal -->
<div class="modal fade" id="print-preview" tabindex="-1" role="dialog" aria-labelledby="print preview">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="modal-title text-info" id="print-preview-title">({{ paperName }})</span>
        <a class="btn btn-default" download="{{ paper }}.png" ng-click="downloadCanvas()" ng-href="{{ canvasDataURL }}" ng-show="!canvasIsLoading"><i class="fa fa-download"></i> Save as Image</a>
        <button type="button" class="btn btn-default" ng-click="printCanvas()" ng-show="!canvasIsLoading"><i class="fa fa-print"></i> Print</button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-9">
                <div ng-show="canvasIsLoading" class="text-center"><i class="fa fa-spinner fa-3x fa-pulse"></i></div>
                <canvas id="snapshot-canvas"></canvas>
            </div>
            <div class="col-xs-3">
                <div class="btn-group btn-group-sm canvas-tools-buttons">
                    <button ng-repeat='(toolType, tool) in toolbox.tools'
                            class="btn btn-link"
                            data-toggle="tooltip" title="{{ tool.title }}"
                            ng-disabled="canvasIsLoading"
                            ng-click="canvasOnToolClicked(toolType)">
                        <i class="fa {{ tool.icon }} fa-lg" ng-class="{'text-info': toolType==toolbox.activeTool}"></i>
                    </button>
                </div>

                <div class="well">
                    <h4 class="text-info">{{ toolbox.tools[toolbox.activeObject.type].title }}</h4>
                    <button class="btn btn-success"
                            ng-click="canvasOnToolClicked('textbox')"
                            ng-show="toolbox.activeTool == 'textbox' && !toolbox.activeObject">
                        Add a text box
                    </button>
                    <canvas-text-form ng-show="toolbox.activeObject.type =='textbox'" ng-model="toolbox.activeObject"></canvas-text-form>

                    <button class="btn btn-success"
                            ng-click="canvasOnToolClicked('rect')"
                            ng-show="toolbox.activeTool == 'rect' && !toolbox.activeObject">
                        Add a rectangle
                    </button>
                    <canvas-rect-form ng-show="toolbox.activeObject.type =='rect'" ng-model="toolbox.activeObject"></canvas-rect-form>

                    <button class="btn btn-success"
                            ng-click="canvasOnToolClicked('circle')"
                            ng-show="toolbox.activeTool == 'circle' && !toolbox.activeObject">
                        Add a circle
                    </button>
                    <canvas-circle-form ng-show="toolbox.activeObject.type =='circle'" ng-model="toolbox.activeObject"></canvas-circle-form>

                    <span class="text-muted"
                            ng-show="toolbox.activeTool == 'path' && !toolbox.activeObject">
                        You can draw anything
                    </span>
                    <canvas-path-form ng-show="toolbox.activeObject.type =='path'" ng-model="toolbox.activeObject"></canvas-path-form>
    
                    <label class="btn btn-success btn-file"
                            ng-show="toolbox.activeTool == 'image' && !toolbox.activeObject">
                        Add an image
                        <input type="file" ng-model="canvasNewImage" style="display: none;" accept="image/*" input-filereader />
                    </label>
                    <canvas-image-form ng-show="toolbox.activeObject.type =='image'" ng-model="toolbox.activeObject"></canvas-image-form>

                    <div ng-show="toolbox.activeTool =='canvas'">
                        <h4 class="text-info">General settings</h4>
                        <canvas-settings-form ng-model="toolbox.canvasProperties"></canvas-settings-form>
                    </div>

                    <div ng-show="toolbox.activeObject && toolbox.activeObject.type" class="container-fluid">
                        <a class="btn btn-link btn-xs" ng-click="canvasLevelObject('lower')">lower</a>
                        <a class="btn btn-link btn-xs" ng-click="canvasLevelObject('raise')">raise</a>
                        <a class="btn btn-link btn-xs" ng-click="canvasLevelObject('bottom')">to bottom</a>
                        <a class="btn btn-link btn-xs" ng-click="canvasLevelObject('top')">to top</a>
                    </div>

                    <div class="container-fluid text-right">
                        <button type="button" class="btn btn-sm btn-danger"
                                 ng-show="toolbox.activeObject.id"
                                 ng-click="canvasDeleteObject(toolbox.activeObject.id)">
                            <i class="fa fa-minus-circle"></i> Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-show="!canvasIsLoading" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
