<div class="row height-match-parent">
    <div class="col-sm-12 height-match-parent">
        <div id="map-container" ng-class="paper">
            <leaflet
                id="map"
                center="map.center"
                url-hash-center="yes"
                tiles="map.tiles.default"
                controls="map.controls"
                defaults="map.defaults">
            </leaflet>
        </div>
    </div>
</div>

<div class="height-match-parent hidden-print" id="toolbox">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title text-info">Get a printable map</div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Size</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-options="paper.class as paper.name for paper in papers" ng-model="paper">
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary btn-sm"
                        type="button" data-toggle="collapse"
                        data-target="#advanced-options" aria-expanded="false"
                        aria-controls="advanced-options">
                    Settings
                </button>
                <div class="collapse" id="advanced-options">
                    <div class="well">
                        <div class="form-group">
                            <label class="control-label small">Map URL</label>
                            <input class="form-control input-sm" type="text"
                                ng-model="map.tiles.default.url"
                                ng-model-options="{ updateOn: 'blur' }"
                                ng-keyup="cancel($event)">
                        </div>
                        <div class="form-group">
                            <label class="control-label small">Center</label>
                            <div class="input-group">
                                <input class="form-control input-sm" type="number" step="any" ng-model="map.center.lng">
                                <div class="input-group-addon">longitude</div>
                            </div>
                            <div class="input-group">
                                <input class="form-control input-sm" type="number" step="any" ng-model="map.center.lat">
                                <div class="input-group-addon">latitude</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label small">Zoom</label>
                            <input class="form-control input-sm" type="number" ng-model="map.center.zoom">
                        </div>
                        <div class="form-group">
                            <label class="control-label small">Map Attribution</label>
                            <div class="input-group">
                                <div class="input-group-addon">text</div>
                                <input class="form-control input-sm" type="text"
                                    ng-model="map.tiles.default.options.attribution"
                                    ng-model-options="{ updateOn: 'blur' }"
                                    ng-keyup="cancel($event)">
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">size (px)</div>
                                <input class="form-control input-sm" type="number" step="1" ng-model="map.attribution.size">
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">font</div>
                                <jd-fontselect stack="map.attribution.font" ng-dbclick="toggle($event)"/>
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">style</div>
                                <select class="form-control input-sm"
                                    ng-options="style for style in textStyles" ng-model="map.attribution.style">
                                </select>
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">color</div>
                                <input class="form-control input-sm" type="text" colorpicker="rgba" colorpicker-position="top" ng-model="map.attribution.color">
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">position</div>
                                <select class="form-control input-sm"
                                    ng-options="position for position in positions" ng-model="map.attribution.position">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <button ng-click="print()" class="btn btn-md btn-info" data-toggle="modal" data-target="#print-preview">Next <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Print modal -->
<div class="modal fade" id="print-preview" tabindex="-1" role="dialog" aria-labelledby="print preview">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="modal-title text-info" id="print-preview-title"><strong>Preview</strong> ({{ paperName }})</span>
        <a class="btn btn-default" download="{{ paper }}.png" ng-href="{{ snapshotURL }}" ng-show="!canvasIsLoading"><i class="fa fa-download"></i> Save as Image</a>
        <button type="button" class="btn btn-default" ng-click="printSnapshot()" ng-show="!canvasIsLoading"><i class="fa fa-print"></i> Print</button>
      </div>
      <div class="modal-body">
        <div ng-show="canvasIsLoading" class="text-center"><i class="fa fa-spinner fa-3x fa-pulse"></i></div>
        <div id="snapshot"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-show="!canvasIsLoading" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
