<div class="row height-match-parent">
    <div class="col-sm-12 height-match-parent">
        <div id="map-container" ng-class="paper">
            <leaflet
                id="map"
                defaults="defaults"
                center="center"
                url-hash-center="yes"
                tiles="tiles">
            </leaflet>
        </div>
    </div>
</div>
<div class="height-match-parent hidden-print" id="toolbox">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title text-info">Setup</div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="print()">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Size</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-options="paper.class as paper.name for paper in papers" ng-model="paper">
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary btn-sm"
                        type="button" data-toggle="collapse"
                        data-target="#advanced-options" aria-expanded="false"
                        aria-controls="advanced-options">
                    More options
                </button>
                <div class="collapse" id="advanced-options">
                    <div class="well">
                        <div class="form-group">
                            <label class="control-label small">Map URL</label>
                            <input class="form-control input-sm" type="url"
                                ng-model="tiles.url"
                                ng-model-options="{ updateOn: 'blur' }"
                                ng-keyup="cancel($event)">
                        </div>
                        <div class="form-group">
                            <label class="control-label small">Map Attribution</label>
                            <input class="form-control input-sm" type="text"
                                ng-model="tiles.options.attribution"
                                ng-model-options="{ updateOn: 'blur' }"
                                ng-keyup="cancel($event)">
                        </div>
                        <div class="form-group">
                            <label class="control-label small">Center</label>
                            <div class="input-group">
                                <input class="form-control input-sm" type="number" step="any" ng-model="center.lng">
                                <div class="input-group-addon">longitude</div>
                            </div>
                            <div class="input-group">
                                <input class="form-control input-sm" type="number" step="any" ng-model="center.lat">
                                <div class="input-group-addon">latitude</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label small">Zoom</label>
                            <input class="form-control input-sm" type="number" ng-model="center.zoom">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn btn-md btn-info"><i class="glyphicon glyphicon-print"></i> Print</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
